body{
    background-color: #ff7f50;
}

.head{
    color: darkblue;
}

#bglime{
    background-color: lime;
}

p{
    color: white;
}

#para{
    color: green;
}

#a1 a{
    background-color: yellow;
}

#a2 a{
    background-color: blue;
}

#liBlue{
    color: blue;
}

#liRed{
    color: red;
}
