/* selector priority
    id >> class >> element
*/

/* 1. element Selector */
/* p{
    background-color: bisque;
} */

/* 2. ID Selector */
/* #idSel{
    background-color:brown;
} */

/* 3. Class Selector */
/* .highlight{
    background-color: yellow;
} */

/* 4. Nested Selector */
/* #idPara1, #idPara2{
    background-color: green;
} */

/* 5. Universal Selector */
/* *{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

/* 6. Descendent Selector */
/* .descSel p{
    background-color: blueviolet;
} */

/* 7. Direct Child Selector */
.dCSel > p{
    background-color: yellowgreen;
}



